# Flask
flask
# ---

# Telegram part
urllib3
telepot
# ---


# Test
pytest
# ---

# Database (3.7.0)
tinydb
# ---

# Google App Engine
gunicorn
# ---

# Misc
json_minify
beautifulsoup4
requests
# ---

