# Flask
Flask==1.1.2
# ---

# Database (3.7.0)
tinydb
# ---

# Google App Engine
gunicorn
# ---

# EasyNido gear
beautifulsoup4
# ---

# Telegram support
urllib3==1.26.5
#requests 2.21.0 has requirement urllib3<1.25,>=1.21.1, but you'll have urllib3 1.25.1 which is incompatible.
#https://github.com/kennethreitz/requests/issues/4673
telepot
# ---

# CommitStip
feedparser

# Google cloud Datastore
google-cloud-datastore==2.1.0

# Misc
# To parse json files for configuration, tasks etc
json_minify
# For date and time management
arrow
# For EasyNido, CommitStrip, Telegram, etc
requests
# ---
